* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
}


header {
    margin-top: 47px;
    margin-left: 42px;
    cursor: context-menu;

}

header .a {
    color: #17233D;
    cursor: context-menu;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    margin-right: 32px;
    

}
header .a:hover {
    opacity: .8;
    cursor: pointer;
    
}

header .a:active {
    opacity: .6;
    cursor: pointer;
    
}
header .button {
    /*largura e estilização do botão*/
    background-color: #6FBF44;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;

    /*texto do botão*/
    cursor: context-menu;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    color: white;

}
header .button:hover {
    opacity: .8;
    cursor: pointer;
}

header .button:active {
    opacity: .6;
    cursor: pointer;
}




.container-left {
    
    width: 50%;
    height: auto;
    padding: 4% 3%;
    
}

.container-left img {
    width: 100%;
    height: auto;
    margin: 124px auto;
    


    

}




.container-right {
    width:50%;
    height: auto;
    margin: 259px 5vw 47px 5vw;
    padding: clamp(10px, 5%, 50px);
    
    
}


.container-right h1 {
    width: auto;
    cursor: context-menu;

    font-size: 4rem;
    font-weight: 700;
    line-height: 82px;
    text-align: left;

}

.container-right p {
    cursor: context-menu;
    width: auto;
    margin: 47px 0;

    cursor: context-menu;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    text-align: left;

}

.container-right a {
    color: #6FBF44;
    width: 112px;
    height: 27px;
    
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;

}
@media screen and (max-width:1300px){

    header {
        width: auto;
        text-align: center;
    
    }
    header .a {
        font-size: 16px;
    
    }
    .container-right h1 {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 0.5961538553237915px;
        text-align: left;
    }
        .container-right p {
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0.5px;
        text-align: left;


    }
    
}

@media screen and (max-width:1250px) {

    body {
        min-height: 100vh;
    }
    
    main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    header .a {
        display: none;

    }
    
    header {
        text-align: end;
        margin-bottom: 2vh;
        margin-top: 5vh;
        margin-right: 6.5vw;
        
    }
    header .button{
        align-items: end;

    }
    
    
    .container-left {
        width:100%;
        height: 50%;
        padding: 5%;
        margin-top: 20px;
        
    }
    .container-left img {
        max-width: 100%;
        margin: 17vw auto;
        height: auto;
        
    }

    .container-right {
        margin: 1vh 5vw 1vh 5vw;
        width: auto;
        height: 30%;
    }

    .container-right h1 {
        width: auto;
        text-align: center;
    }

    .container-right p {
        width: auto;
        padding: 0 auto;
        text-align: center;
    }
    .container-right a {
        width: 120px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }



} 
@media screen and (max-width:375px) {
    main {
        gap: 15%;
    }
    .container-right {
        margin-top: 40vh;
    }
    .container-left {
        margin-top: 20vh;
    }
}